<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  
  .nav-link {
    color: #878696 !important;
  }
  
  nav {
    background-color: black !important;
    color: white !important;
    height: 72px !important;
  }
  
  nav .navbar-brand .text {
    font-weight: 400;
    color: white;
    font-size: 25px;
  }
  
  nav .navbar-brand .logo {
    font-weight: 900;
    color: rgba(157,103,25,255);
    font-size: 25px;
  }
  
  nav .form-control,
  nav .form-control:hover {
    border-radius: 0;
    background-color: #2d3e50;
    outline: none;
    border: none;
  }
  
  nav .btn,
  .btn {
    border-radius: 0;
  } 
  /* Start Main */
  
  /* End Main */
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg p-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="pe-1 logo">RM</span><span class="text">Admin</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Manage Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Server Stats</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success bg-success text-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="modal fade mt-5 pt-5" id="editModal" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <h4 class="ms-5 ps-2 mt-3 float-start">USERS LIST(<%= users.length - 1%>)</h4>
      <button class="btn btn-outline-success bg-success text-light float-end me-5 ps-2 mt-3 rounded" id="main">Refresh</button>
    </div>
     <main class="d-flex justify-content-center mt-5 text-center me-5 ms-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserID</th>
            <th scope="col">Balance</th>
            <th scope="col">TransactionCount</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
         <% for (let i = 0; i <= users.length - 1; i++) { %>
            <% let useer = users[i] %>
             <tr>
                <th scope="row"><%= i + 1%></th>
                <td><%= useer.userId%></td>
                <td><%= useer.coins%></td>
                <td><%= useer.coins % 2%></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
                </td>
            </tr>  
         <% }%>
        </tbody>
      </table>
     </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  <script>
    document.getElementById("main").onclick = async function () {
        window.location.reload();
    }
  </script>
</html>